<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="contentsCover">
      <h1>Vanilla Wars</h1>
      <ul class="tabs">
        <li class="showAllBtn"><a href="/">Show All</a></li>
        <% levelIds.forEach(id => { %>
          <li class="filterBtn"><a href=<%= `/problems/search/q=${id}` %>>Level <%= id %></a></li>
        <% }); %>
      </ul>

      <ul class="problems">
        <% problems.forEach(data => { %>
          <li>
            <a class="link" href=<%= `/problems/${data.id}` %>>
              <h4><%= data.title %></h4>
              <div>난이도: Level <%= data.difficulty_level %></div>
              <div>정답자: <%= data.solution_count %>명</div>
            </a>
          </li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
