<!DOCTYPE html>
<html>
  <head>
    <title>Codewars</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <h1>Code Wars</h1>
    <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>

    <ul class="tabs">
      <li class="showAllBtn"><a href="/">Show All</a></li>
      <% levelIds.forEach(id => { %>
        <li class="filterBtn"><a href=<%= `/problems/search/${id}` %>>Level <%= id %></a></li>
      <% }); %>
    </ul>

    <ul class="problems">
      <% problems.forEach(data => { %>
        <li>
          <a href=<%= `/problems/${data.id}` %>>
            <div><%= data.title %></div>
            <div>난이도: Level<%= data.difficulty_level %></div>
            <div>정답자: <%= data.solution_count %>명</div>
          </a>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
