<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/problem.css' />
    <link rel="shortcut icon" href="/images/favicon.png">
  </head>
  <body>
    <div class="problemPage">
      <div class="problemInfo" data-problem-id=<%= _id %>>
        <h4 class="title"><%= title %></h4>
        <span>난이도: Level <%= difficulty_level %></span>
        <span>정답자: <%= solution_count %>명</span>
        <h4>문제 설명</h4>
        <p><%= description %></p>
        <div class="resultInfo">
          <div class="resultExample">
            <h4>Examples</h4>
            <table>
              <tbody>
                <tr>
                    <td>
                      <span>Input</span>
                    </td>
                    <td>
                      <span>Output</span>
                    </td>
                </tr>
                <% tests.forEach(test => { %>
                  <tr>
                    <td>
                      <span><%= test.code.split('solution')[1].slice(1, -1) %></span>
                    </td>
                    <td>
                      <span><%= test.solution %></span>
                    </td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
          <div id="resultBoard"></div>
        </div>
      </div>
      <div class="solutionContainer">
        <div class="inputField">
          <form id="userForm">
              <div id="codeEditor"></div>
              <button class="submitBtn" type="submit">Submit</button>
            </form>
        </div>
      </div>
    </div>
    <script src="/monaco-editor/min/vs/loader.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
  </body>
</html>
